In [1]:
# A dataframe is  a two dimensional datastructure in pythons pandas library
# It organizes data into rows and columns

import pandas as pd
df={"Calories":[420,380,390],
   "duration":[60,30,20]}

In [2]:
df

{'Calories': [420, 380, 390], 'duration': [60, 30, 20]}

In [4]:
df1=pd.DataFrame(df)

In [5]:
df1

   Calories  duration
0       420        60
1       380        30
2       390        20

In [7]:
print(df1.loc[0])

Calories    420
duration     60
Name: 0, dtype: int64

In [12]:
print(df1.loc[[0,2]])

   Calories  duration
0       420        60
2       390        20

In [13]:
# create a bike names,car names,cycle(respective cost)
import pandas as pd
data={"Villa1 layout":[300,400,340],
     "Villa layout2":[ 100,200,300],
     "Villa layout3":[200,100,340]}

In [14]:
df=pd.DataFrame(data,index=["day1","day2","day3"])

In [15]:
df

      Villa1 layout  Villa layout2  Villa layout3
day1            300            100            200
day2            400            200            100
day3            340            300            340

In [16]:
print(df.loc["day3"])

Villa1 layout    340
Villa layout2    300
Villa layout3    340
Name: day3, dtype: int64

In [17]:
print(df.loc[["day1","day2"]])

      Villa1 layout  Villa layout2  Villa layout3
day1            300            100            200
day2            400            200            100